.register__modal {
  display: block;

  .modal-dialog {
    max-width: 600px;
  }

  .modal-header {
    border-bottom: none;
  }
  .modal-content {
    background-color: transparent;
    border-radius: 0px;
    border: none;
  }

  .modal-body {
    text-align: center;
    h2 {
      color: white;
      margin-bottom: 1rem;
      font-weight: 300;
    }

    img {
      max-height: 60px;
      margin-bottom: 1rem;
    }
  }

  .form-control {
    background-color: #2c2c2c;
    color: #fff;
    border: 0;
  }

  .login_btn {
    background-color: #0284c7;
  }

  .link-primary {
    font-size: 0.875rem;
  }
}
