<div class="dashboard-wrapper d-flex">
  <div class="sidebar p-3">
    <ul class="list-unstyled">
      <li (click)="selectTab('identity')" [class.active]="activeTab === 'identity'">
        <i class="fa-solid fa-id-card"></i> Identity
      </li>
      <li (click)="selectTab('security')" [class.active]="activeTab === 'security'">
        <i class="fa-solid fa-lock"></i> Security
      </li>
      <li (click)="selectTab('trade-settings')" [class.active]="activeTab === 'trade-settings'">
        <i class="fa-solid fa-sliders"></i> Trade settings
      </li>
      <li (click)="selectTab('finance')" [class.active]="activeTab === 'finance'">
        <i class="fa-solid fa-credit-card"></i> Finance
      </li>
    </ul>
    <div class="mt-4 d-flex gap-2 justify-content-end">
      <button class="btn btn-sm save_btn">Save changes</button>
      <button class="btn btn-sm btn-outline-light px-4 py-2 fw-bold shadow-sm">Cancel</button>
    </div>
  </div>

  <div class="content flex-grow-1 p-4">
    <app-identity *ngIf="activeTab === 'identity'"></app-identity>
    <app-security *ngIf="activeTab === 'security'"></app-security>
    <app-trade-setting *ngIf="activeTab === 'trade-settings'"></app-trade-setting>
    <app-finance-setting *ngIf="activeTab === 'finance'"></app-finance-setting>
  </div>
</div>
