.searchEvents {
  background-color: #10151e;
  color: white;
  height: 35px;
  width: 80%;
}

.heading {
  background-color: #6b7280;
}

.toggle-lg {
  width: 3rem;
  height: 1.5rem;
}

.toggle-custom {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 1.5rem;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-custom:checked {
  background-color: #064e3b;
  border-color: #064e3b;
}

.toggle-custom::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-custom:checked::before {
  transform: translateX(1.5rem);
}

.right_dashboard {
  background-color: transparent;
}

.accordion-item {
  border: 1px solid #475569;
  border-radius: 0.5rem;
  overflow: hidden;
}

.accordion-button {
  background-color: #141c33;
  color: #ffffff;
  font-weight: 500;
  box-shadow: none;
  outline: none;
}

.accordion-button:hover {
  background-color: #141c33;
}

.accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-button::after,
.accordion-button.collapsed::after {
  filter: invert(1);
  font-weight: bold;
}

.accordion-body {
  background-color: #111827;
  color: #ffffff;
  padding: 1rem;
}

.btn-status {
  background-color: #047857;
  color: white;
  border: none;
  width: 45px;
}

.btn-status:hover {
  background-color: #065f46;
}

.custom-label {
  font-size: 0.85rem;
}

.betslip_filter {
  background-color: #0284c7;
}

.footer-match-list {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
