.card {
  background: #161b22;
  border: none;
  color: #fff;
  border-radius: 8px;
}

.form-control {
  background: #0d1117;
  border: 1px solid #333;
  color: #fff;
}

.save_btn {
  background-color: #58a6ff;
  color: white;
}
